dist
node_modules
.nx

coverage
recipes
__fixtures__

.prettierrc.js
_meta.*.json

inject-react-import.js
vitest.config.ts
tsup.config.ts
tsconfig.eslint.json
tsconfig.base.json
tsconfig.esm.base.json
tsconfig.react-esm.base.json

.eslintrc.cjs
.lintstagedrc.cjs
.prettierrc.cjs
.secretlintrc.cjs
commitlint.config.cjs
verify-node-version.cjs

docs
examples
packages
plop/package/src
plop/package-configuration.js

storybook/scripts/vercel-ignore-command.cjs
scripts/mv.cjs

bench
README.md
