dist
node_modules
.nx

coverage
recipes
__fixtures__

.prettierrc.js
_meta.*.json

inject-react-import.js
vitest.config.ts
tsup.config.ts
tsconfig.eslint.json
tsconfig.base.json
tsconfig.esm.base.json
tsconfig.react-esm.base.json

docs
examples
packages
plop/package/src
plop/package-configuration.js

bench
README.md
