strict-peer-dependencies=false

# Needed for Blitz to work properly. Don't remove the lines.
save-exact=true
strict-peer-dependencies=false

public-hoist-pattern[]=*types*
public-hoist-pattern[]=secure-password

# Needed for Blitz to work properly. Don't remove the lines.

# Needed for crud package to work properly. Don't remove the lines.

public-hoist-pattern[]=*prisma*

# Needed for crud package to work properly. Don't remove the lines.
