version: "3.7"

services:
    db:
        image: "postgres:16.2-alpine@sha256:951bfda460300925caa3949eaa092ba022e9aec191bbea9056a39e2382260b27"
        volumes:
            - "data:/var/lib/postgresql/data"
        ports:
            - "5432:5432"

    redis:
        image: "redis:7.2.4-alpine@sha256:7635b0bfdd7dd8552b4b31d6541fef07b734614045b45a52fd5cc27c9dada9e2"
        ports:
            - "6379:6379"

    mailhog:
        image: "mailhog/mailhog:v1.0.1@sha256:8d76a3d4ffa32a3661311944007a415332c4bb855657f4f6c57996405c009bea"
        ports:
            - "1025:1025"
            - "8025:8025"
        volumes:
            - "data:/data"
        env_file: "./visulima/.env.local"
        depends_on:
            - "db"
        restart: "always"

volumes:
    data: # yamllint disable-line rule:empty-values
