version: "3.7"

services:
    db:
        image: "postgres:15.2-alpine"
        volumes:
            - "data:/var/lib/postgresql/data"
        # Here we are using the already existing .env.local file
        env_file: "./visulima/.env.local"
        ports:
            - "5432:5432"

    redis:
        image: "redis:7.0.7-alpine"
        ports:
            - "6379:6379"

    mailhog:
        image: "mailhog/mailhog:v1.0.1"
        ports:
            - "1025:1025"
            - "8025:8025"
        volumes:
            - "data:/data"
        env_file: "./visulima/.env.local"
        depends_on:
            - "db"
        restart: "always"

volumes:
    data: # yamllint disable-line rule:empty-values
