[data-rmiz] {
    @apply relative;
}
[data-rmiz-ghost] {
    @apply absolute pointer-events-none;
}
[data-rmiz-btn-zoom],
[data-rmiz-btn-unzoom] {
    @apply bg-[rgba(0,0,0,0.7)] shadow-[0_0_1px_rgba(255,255,255,0.5)] text-white h-10 outline-offset-2 touch-manipulation w-10 appearance-none m-0 p-[9px] rounded-[50%] border-[none];
    -webkit-appearance: none;
    -moz-appearance: none;
}
[data-rmiz-btn-zoom]:not(:focus):not(:active) {
    @apply absolute h-px overflow-hidden pointer-events-none whitespace-nowrap w-px;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
}

[data-rmiz-btn-zoom] {
    @apply absolute cursor-zoom-in inset-[10px_10px_auto_auto];
}

[data-rmiz-btn-unzoom] {
    @apply absolute cursor-zoom-out z-[1] inset-[20px_20px_auto_auto];
}

[data-rmiz-content="found"] img,
[data-rmiz-content="found"] svg,
[data-rmiz-content="found"] [role="img"],
[data-rmiz-content="found"] [data-zoom] {
    @apply cursor-zoom-in;
}

[data-rmiz-modal]::backdrop {
    @apply hidden;
}

[data-rmiz-modal][open] {
    @apply fixed w-[100svw] h-[100svh] max-w-none max-h-[none] overflow-hidden m-0 p-0 border-0;
    background: transparent;
}

[data-rmiz-modal-overlay] {
    @apply absolute transition-[background-color] duration-[0.3s] inset-0;
}

[data-rmiz-modal-overlay="hidden"] {
    @apply bg-[rgba(255,255,255,0)];
}

[data-rmiz-modal-overlay="visible"] {
    @apply bg-white;
}

[data-rmiz-modal-content] {
    @apply relative w-full h-full;
}

[data-rmiz-modal-img] {
    @apply absolute cursor-zoom-out origin-top-left transition-transform duration-[0.3s];
    image-rendering: high-quality;
}

@media (prefers-reduced-motion: reduce) {
    [data-rmiz-modal-overlay],
    [data-rmiz-modal-img] {
        @apply duration-[0.01ms];
    }
}
