node_modules
env.d.ts
css
coverage
.next

inject-react-import.js
vitest.config.ts
next-env.d.ts

tailwind.config.js
.secretlintrc.cjs
.eslintrc.cjs
.prettierrc.cjs
postcss.config.cjs

theme.config.tsx

__test__/__fixture__
__test__/__snapshots__

_meta.*.json

# Add all package docs to the .gitignore
pages/docs/package
