LOG_LEVEL=debug

PORT=3002

# Get this from https://console.cloud.google.com/projectselector2/iam-admin/serviceaccounts?supportedpurview=project
GCS_BUCKET=
GCS_KEYFILE=~/.gcs-credentials.json


# See also https://docs.aws.amazon.com/sdk-for-javascript/v3/developer-guide/loading-node-credentials-environment.html
S3_BUCKET=upload
S3_ENDPOINT=
# Path to file with accessKeyId and secretAccessKey and region(optional)
# S3_KEYFILE=.s3-config.example
