@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./variables.css";
@import "./code-block.css";
@import "./subheading-anchor.css";

@import "./hamburger.css";
@import "./scrollbar.css";
@import "./typesetting-article.css";

html {
    @apply antialiased text-base;
    font-feature-settings: "rlig" 1, "calt" 1, "ss01" 1, "ss06" 1;
    -webkit-tap-highlight-color: transparent;
}

body {
    @apply w-full bg-white dark:bg-darker-800 dark:text-gray-100;
}

[data-reach-skip-link] {
    @apply sr-only;
}

[data-reach-skip-link]:focus {
    @apply not-sr-only fixed ml-6 top-0 bg-white text-lg px-6 py-2 mt-2 outline-none focus:ring z-50;
}

.dark .invert-on-dark {
    filter: invert(1) brightness(1.8);
}

a,
summary,
button,
input,
[tabindex]:not([tabindex="-1"]) {
    @apply outline-none;
    &:focus-visible {
        @apply ring-2 ring-primary-200 ring-offset-1 ring-offset-primary-300;
    }
}

a,
summary {
    @apply rounded;
}

@media (max-width: 767px) {
    .nextra-sidebar-container {
        @apply fixed pt-[calc(var(--nextra-navbar-height))] top-0 w-full bottom-24 z-[15] overscroll-contain bg-white dark:bg-dark;
        transition: transform 0.8s cubic-bezier(0.52, 0.16, 0.04, 1);
        will-change: transform, opacity;
        contain: layout style;
        backface-visibility: hidden;
    }
    .nextra-banner-container ~ div {
        .nextra-sidebar-container {
            @apply pt-[6.5rem];
        }
        &.nextra-nav-container {
            @apply top-10 md:top-0;
        }
    }
    .nextra-banner-hidden {
        .nextra-banner-container ~ div .nextra-sidebar-container {
            @apply pt-16;
        }
        .nextra-nav-container {
            @apply !top-0;
        }
    }
    .nextra-search .excerpt {
        @apply overflow-hidden text-ellipsis;
        display: -webkit-box;
        line-clamp: 1;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
}

@media (prefers-reduced-motion: reduce) and (max-width: 767px) {
    article:before,
    .nextra-sidebar-container,
    .nextra-sidebar-container.open,
    body.resizing .nextra-sidebar-container {
        @apply transition-none;
    }
}

/* Content Typography */
article details > summary {
    &::-webkit-details-marker {
        @apply hidden;
    }
    &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z' clip-rule='evenodd' /%3E%3C/svg%3E");
        height: 1.2em;
        width: 1.2em;
        vertical-align: -4px;
    }
}

@media (min-width: 768px) {
    .nextra-toc > .div,
    .nextra-sidebar-container {
        mask-image: linear-gradient(to bottom, transparent, #000 20px), linear-gradient(to left, #000 10px, transparent 10px);
    }
}

@supports ((-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))) {
    .nextra-search ul {
        @apply backdrop-blur-lg bg-white/70 dark:bg-dark/80;
    }
    .nextra-nav-container-blur {
        @apply backdrop-blur-md bg-white/[.85] dark:!bg-dark/80;
    }
}

input[type="search"] {
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        -webkit-appearance: none;
    }
}

.contains-task-list {
    @apply ml-0 list-none;
    input[type="checkbox"] {
        @apply mr-1;
    }
}

.nextra-banner-hidden .nextra-banner-container {
    @apply hidden;
}

.bg-x-gradient-gray-200-gray-200-50-white-50 {
    background-image: linear-gradient(90deg, #f5f5fa, #f5f5fa 50%, #fff 0);
}

.dark .dark\:bg-x-gradient-dark-700-dark-700-50-dark-800 {
    background-image: linear-gradient(90deg, #171923, #171923 50%, #12141c 0);
}

.bg-x-gradient-gray-200-gray-400-75 {
    background-image: linear-gradient(90deg, #f5f5fa 75%, #ebebf0);
}

.dark .dark\:bg-x-gradient-dark-700-dark-800-65 {
    background-image: linear-gradient(90deg, #171923 65%, #12141c);
}

.header-border {
    border-bottom-width: 1px;
    border-color: #f5f5fa;
}

.dark .dark\:header-border {
    border-color: #171923;
}

.footer-border {
    border-top-width: 1px;
    border-color: #f5f5fa;
}

.dark .dark\:footer-border {
    border-color: #171923;
}
