:root {
    --shiki-color-text: #94a3b8;
    --shiki-color-background: transparent;
    --shiki-token-constant: #cbd5e1;
    --shiki-token-string: #7dd3fc;
    --shiki-token-comment: #cbd5e1;
    --shiki-token-keyword: #cbd5e1;
    --shiki-token-parameter: #2d9af6;
    --shiki-token-function: #f472b6;
    --shiki-token-string-expression: #cbd5e1;
    --shiki-token-punctuation: #64748b;
    --shiki-token-link: #22863a;
    --nextra-shiki-deleted: #f00;
    --nextra-shiki-inserted: #f00;
}

.dark {
    --shiki-color-text: #d1d1d1;
    --shiki-token-constant: #79b8ff;
    --shiki-token-string: #ffab70;
    --shiki-token-comment: #6b737c;
    --shiki-token-keyword: #f97583;
    --shiki-token-parameter: #ff9800;
    --shiki-token-function: #b392f0;
    --shiki-token-string-expression: #4bb74a;
    --shiki-token-punctuation: #bbbbbb;
    --shiki-token-link: #ffab70;
}
