node_modules
inject-react-import.js
vitest.config.ts
tailwind.config.js
next-env.d.ts
postcss.config.js
env.d.ts
.prettierrc.js
css
coverage
.next
.secretlintrc.js

theme.config.tsx

__test__/__fixture__
__test__/__snapshots__

_meta.*.json

# Add all package docs to the .gitignore
pages/docs/connect
pages/docs/nextra-theme-docs
