name: "Bundle Analysis"

on: # yamllint disable-line rule:truthy
    pull_request: # yamllint disable-line rule:empty-values
    push:
        branches:
            - "main"
    workflow_dispatch: # yamllint disable-line rule:empty-values

defaults:
    run:
        working-directory: "./"

permissions:
    contents: "read" # to fetch code (actions/checkout)
    pull-requests: "write"

concurrency:
    group: "ci-bundle-analysis-${{ github.ref }}-1"
    cancel-in-progress: true

jobs:
    files-changed:
        name: "Detect what files changed"
        runs-on: "ubuntu-22.04"
        timeout-minutes: 3
        # Map a step output to a job output
        outputs:
            nextra: "${{ steps.changes.outputs.nextra }}"

        steps:
            - name: "Checkout"
              uses: "./.github/checkout/setup"
              id: "checkout"

            - name: "Check for file changes"
              uses: "dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36" # v3.0.2
              id: "changes"
              with:
                  token: "${{ github.token }}"
                  filters: ".github/file-filters.yml"

    nextra-analyze-bundle:
        if: "needs.files-changed.outputs.nextra == 'true'"
        needs: "files-changed"
        name: "Analyze Bundle (nextra)"
        runs-on: "ubuntu-latest"
        steps:
            - name: "Checkout"
              uses: "./.github/checkout/setup"
              id: "checkout"

            - uses: "pnpm/action-setup@a3252b78c470c02df07e9d59298aecedc3ccdd6d" # v3.0.0

            - name: "Set node version to 18"
              uses: "actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8" # v4.0.2
              with:
                  node-version: "18"
                  cache: "pnpm"

            - name: "Verify the integrity of provenance attestations and registry signatures for installed dependencies"
              run: "pnpm dlx audit-ci@^6 --config ./audit-ci.jsonc --report-type=summary"

            - name: "Install packages"
              run: "pnpm install --frozen-lockfile --prefer-offline"
              env:
                  SKIP_CHECK: "true"
                  "PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD": 1

            - name: "Restore Next.js Build"
              uses: "actions/cache@ab5e6d0c87105b4c9c2047343972218f562e4319" # v4.0.1
              id: "restore-build-cache"
              env:
                  cache-name: "cache-next-build"
              with:
                  # if you use a custom build directory, replace all instances of `.next` in this file with your build directory
                  # ex: if your app builds to `dist`, replace `.next` with `dist`
                  path: "examples/nextra/.next/cache"
                  # change this if you prefer a more strict cache
                  key: "${{ runner.os }}-build-${{ env.cache-name }}"

            - name: "Build @visulima/nextra-theme-docs"
              run: "pnpm run build:prod:nextra-theme-docs"

            - name: "Build Next.js App"
              # change this if your site requires a custom build command
              run: "cd examples/nextra && ./node_modules/.bin/next build"

            # Here's the first place where next-bundle-analysis' own script is used
            # This step pulls the raw bundle stats for the current bundle
            - name: "Analyze Bundle"
              run: "cd examples/nextra && npx -p nextjs-bundle-analysis@0.5.0 report"

            - name: "Upload Bundle"
              uses: "actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3" # v4.3.1
              with:
                  name: "bundle"
                  path: "examples/nextra/.next/analyze/__bundle_analysis.json"

            - name: "Download Base Branch Bundle Stats"
              uses: "dawidd6/action-download-artifact@71072fbb1229e1317f1a8de6b04206afb461bd67" # v3.1.2
              if: "success() && github.event.number"
              with:
                  workflow: "nextjs-bundle-analysis.yml"
                  branch: "${{ github.event.pull_request.base.ref }}"
                  path: "examples/nextra/.next/analyze/base"

            # And here's the second place - this runs after we have both the current and
            # base branch bundle stats, and will compare them to determine what changed.
            # There are two configurable arguments that come from package.json:
            #
            # - budget: optional, set a budget (bytes) against which size changes are measured
            #           it's set to 350kb here by default, as informed by the following piece:
            #           https://infrequently.org/2021/03/the-performance-inequality-gap/
            #
            # - red-status-percentage: sets the percent size increase where you get a red
            #                          status indicator, defaults to 20%
            #
            # Either of these arguments can be changed or removed by editing the `nextBundleAnalysis`
            # entry in your package.json file.
            - name: "Compare With Base Branch Bundle"
              if: "success() && github.event.number"
              run: "ls -laR examples/nextra/.next/analyze/base && cd examples/nextra && npx -p nextjs-bundle-analysis@0.5.0 compare"

            - name: "Get Comment body"
              id: "get-comment-body"
              if: "success() && github.event.number"
              run: |
                  echo 'body<<EOF' >> $GITHUB_OUTPUT
                  echo '' >>  $GITHUB_OUTPUT
                  echo '## Size changes' >>  $GITHUB_OUTPUT
                  echo '' >>  $GITHUB_OUTPUT
                  echo '<details>' >>  $GITHUB_OUTPUT
                  echo '' >>  $GITHUB_OUTPUT
                  cat examples/nextra/.next/analyze/__bundle_analysis_comment.txt >> $GITHUB_OUTPUT
                  echo '' >>  $GITHUB_OUTPUT
                  echo '</details>' >>  $GITHUB_OUTPUT
                  echo '' >>  $GITHUB_OUTPUT
                  echo 'EOF' >> $GITHUB_OUTPUT

            - name: "Comment"
              uses: "marocchino/sticky-pull-request-comment@331f8f5b4215f0445d3c07b4967662a32a2d3e31" # v2.9.0
              if: "success() && github.event.number"
              with:
                  header: "next-bundle-analysis"
                  message: "${{ steps.get-comment-body.outputs.body }}"

    # This check runs once all dependant jobs have passed
    # It symbolizes that all required Frontend checks have succesfully passed (Or skipped)
    # This check is the only required Github check
    test-required-check:
        needs: ["files-changed", "nextra-analyze-bundle"]

        name: "Check Bundle Analysis Run"
        # This is necessary since a failed/skipped dependent job would cause this job to be skipped
        if: "always()"

        runs-on: "ubuntu-22.04"

        steps:
            # If any jobs we depend on fail, we will fail since this is a required check
            # NOTE: A timeout is considered a failure
            - name: "Harden Runner"
              uses: "step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142" # v2.7.0
              with:
                  egress-policy: "audit"

            - name: "Check for failures"
              if: "contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')"
              run: |
                  echo "One of the dependent jobs have failed. You may need to re-run it." && exit 1
