name: "CI"

on: # yamllint disable-line rule:truthy
    push:
        paths:
            - ".github/workflows/**"
        branches:
            - "main"
    pull_request:
        paths:
            - ".github/workflows/**"
        branches:
            - "main"
            - "!v[0-9]*"

permissions:
    contents: "read"

jobs:
    lint-workflows:
        runs-on: "ubuntu-latest"

        steps:
            - name: "Harden Runner"
              uses: "step-security/harden-runner@128a63446a954579617e875aaab7d2978154e969" # v2.4.0
              with:
                egress-policy: "audit"

            - uses: "actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab" # v3.5.2
            # From https://github.com/rhysd/actionlint/blob/main/docs/usage.md#use-actionlint-on-github-actions
            - name: "Check workflow files"
              run: |
                  bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
                  ./actionlint -color -shellcheck=""
